<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Huntleyho poklad</title>

    <link rel="stylesheet" href="{$basePath}/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/vendor/summernote/summernote.css">

    <link rel="stylesheet" href="{$basePath}/dist/css/huntley.css">
    <link rel="stylesheet" href="{$basePath}/dist/css/huntley-meta.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container pt-4">
    <ul class="list-group list-group-horizontal mb-2">
        <li class="list-group-item"><a n:href="Challenges:index">Výzvy</a></li>
        <li class="list-group-item"><a n:href="Narratives:index">Prupovídky</a></li>
        <li class="list-group-item"><a n:href="TreasureMaps:index">Mapy</a></li>
    </ul>
    <div class="alert alert-light" n:foreach="$flashes as $flash">
        {$flash->message}
    </div>
    {include content}
</div>

<script type="text/javascript" src="{$basePath}/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{$basePath}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="{$basePath}/vendor/summernote/summernote-bs4.js"></script>
<script type="text/javascript" src="{$basePath}/vendor/naja/Naja.js"></script>

<script type="text/javascript" src="{$basePath}/dist/js/main.js"></script>
</body>
</html>
