<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Huntleyho poklad</title>
    <link rel="stylesheet" href="/dist/css/huntley-meta.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{block content}
</body>
</html>
