<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poklad 69 420</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
        }
        #treasure-map {
            flex: 1;
            position: relative;
        }
        #treasure-map canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Poklad 69 420</h1>
    <div id="treasure-map"></div>
</div>

<script type="text/javascript" src="{$basePath}/dist/js/main.js"></script>
{var $fileUrls = []}
{foreach $map->files as $file}{var $fileUrls[] = $baseUrl.'/img/cache/'.$file}{/foreach}

<script>
    (function () {
        /** @type MapSpecification */
        let map = {
            tiling: {
                x: {$map->tilingX},
                y: {$map->tilingY},
            },
            dimensions: {
                width: {$map->width},
                height: {$map->height},
            },
            imageParts: {$fileUrls},
        };
    })();
</script>
</body>
</html>
