action: Akce
actionType: Typ akce
actionParams: Parametry akce
actionSequence: '#'

actionConditions: Podmínky akce

condition: Podmínka
conditionParams: Parametry podmínky

actionForm:
    addCondition: Přidat podmínku
    removeCondition: Odebrat podmínku

    submitCreate: Vytvořit
    submitUpdate: Upravit

validation:
    missingField: Chybí hodnota '%field%'
    unexpectedTypeInField: Nečekaná hodnota v '%%field'
    unknownValue: Neznámá hodnota '%value%'

executives:
    action:
        multiAction: Skupina akcí
