typeful:
    types:
        int:
            class: SeStep\Typeful\Types\IntType
            netteControlFactory: SeStep\NetteTypeful\Forms\StandardControlsFactory::createInt
        text:
            class: SeStep\Typeful\Types\TextType
            netteControlFactory: SeStep\NetteTypeful\Forms\StandardControlsFactory::createText
        date:
            class: SeStep\Typeful\Types\DateType
        dateTime:
            class: SeStep\Typeful\Types\DateTimeType


