defaultTypes:
    - SeStep\Typeful\Types\IntType()
    - SeStep\Typeful\Types\TextType()
    - SeStep\Typeful\Types\DateType()
    - SeStep\Typeful\Types\DateTimeType()

defaultTypeControlFactories:
    text: SeStep\Typeful\Forms\StandardControlsFactory::createText
    int: SeStep\Typeful\Forms\StandardControlsFactory::createInt


