services:
    notebookRepository: CP\TreasureHunt\Model\Repository\NotebookRepository
    notebookPageRepository: CP\TreasureHunt\Model\Repository\NotebookPageRepository
    challengeRepository: CP\TreasureHunt\Model\Repository\ChallengeRepository
    narrativeRepository: CP\TreasureHunt\Model\Repository\NarrativeRepository

    notebookService: CP\TreasureHunt\Model\Service\NotebookService
    challengesService: CP\TreasureHunt\Model\Service\ChallengesService
    narrativeService: CP\TreasureHunt\Model\Service\NarrativesService

    treasureHuntService: CP\TreasureHunt\Model\Service\TreasureHuntService
    treasureMapsService:
        class: CP\TreasureHunt\Model\Service\TreasureMapsService
        arguments:
            sources: League\Flysystem\Filesystem(League\Flysystem\Local\LocalFilesystemAdapter(%rootDir%/resources/maps))
            destination: League\Flysystem\Filesystem(League\Flysystem\Local\LocalFilesystemAdapter(%wwwDir%/img/cache/))
            maps:
                huntleyTreasure:
                    tilingX: 5
                    tilingY: 3
                    sourceFilename: Huntley.jpg

    registerFormFactory: CP\TreasureHunt\Components\RegisterFormFactory
    challengesGridFactory: CP\TreasureHunt\Components\ChallengesGridFactory
    challengeFormFactory: CP\TreasureHunt\Components\ChallengeFormFactory

    narrativesGridFactory: CP\TreasureHunt\Components\NarrativesGridFactory
    narrativeFormFactory: CP\TreasureHunt\Components\NarrativeFormFactory

    notebookControlFactory: CP\TreasureHunt\Components\Notebook\NotebookControlFactory

    executivesModule:
        class: CP\TreasureHunt\Executives\TreasureHuntExecutivesModule
        tags:
            executivesModule: th

typeful:
    types:
        clueType:
             class: CP\TreasureHunt\Typeful\Types\ClueType
             autowired: true
    entities:
        narrative:
            name: CP\TreasureHunt\Model\Entity\Narrative
            properties:
                title:
                    type: 'typeful.text'
                content:
                    type: 'typeful.text'
                    options:
                        richText: true

