services:
    notebookRepository: CP\TreasureHunt\Model\Repository\NotebookRepository
    notebookPageRepository: CP\TreasureHunt\Model\Repository\NotebookPageRepository
    challengeRepository: CP\TreasureHunt\Model\Repository\ChallengeRepository
    narrativeRepository: CP\TreasureHunt\Model\Repository\NarrativeRepository
    treasureMapRepository: CP\TreasureHunt\Model\Repository\TreasureMapRepository

    notebookService: CP\TreasureHunt\Model\Service\NotebookService
    challengesService: CP\TreasureHunt\Model\Service\ChallengesService
    narrativeService: CP\TreasureHunt\Model\Service\NarrativesService

    treasureHuntService: CP\TreasureHunt\Model\Service\TreasureHuntService
    treasureMapsService:
        class: CP\TreasureHunt\Model\Service\TreasureMapsService
        arguments:
            sources: @treasureMapsFileStorage
            destination: @treasureMapWwwStorage

    registerFormFactory: CP\TreasureHunt\Components\RegisterFormFactory
    challengesGridFactory: CP\TreasureHunt\Components\ChallengesGridFactory
    challengeFormFactory:
        class: CP\TreasureHunt\Components\Challenge\ChallengeFormFactory
        arguments:
            types: ['typeful.int', 'typeful.text']

    narrativesGridFactory: CP\TreasureHunt\Components\NarrativesGridFactory
    narrativeFormFactory: CP\TreasureHunt\Components\NarrativeFormFactory

    notebookControlFactory: CP\TreasureHunt\Components\Notebook\NotebookControlFactory

    executivesModule:
        class: CP\TreasureHunt\Executives\TreasureHuntExecutivesModule
        tags:
            executivesModule: th

typeful:
    types:
        clueType:
             class: CP\TreasureHunt\Typeful\Types\ClueType
             autowired: true
    entities:
        narrative:
            name: CP\TreasureHunt\Model\Entity\Narrative
            properties:
                title:
                    type: 'typeful.text'
                content:
                    type: 'typeful.text'
                    options:
                        richText: true
        treasureMap:
            name: CP\TreasureHunt\Model\Entity\TreasureMap
            propertyNamePrefix: 'appTreasureHunt.map'
            properties:
                name:
                    type: 'typeful.text'
                file:
                    type: 'netteTypeful.file'
                    options:
                        storage: @treasureMapsFileStorage
                        fileType: 'image'
                tilingX:
                    type: 'typeful.int'
                    options:
                        min: 1
                        max: 20
                tilingY:
                    type: 'typeful.int'
                    options:
                        min: 1
                        max: 20

