parameters:

application:
    mapping:
        TreasureHunt: CP\TreasureHunt\Presenters\*Presenter

services:
    authenticator: App\Security\UserManager
    router: @routerFactory::create
    routerFactory:
        class: App\Router\RouterFactory
        arguments:
            appRouters:
                - CP\TreasureHunt\TreasureHuntRouterFactory::create()

    leanMapper.mapper:
            class: SeStep\ModularLeanMapper\ModularMapper
            arguments:
                mapper: App\LeanMapper\UnderscoreMapper()
                modules:
                    app__: SeStep\ModularLeanMapper\MapperModule::create('App\Model')
                    exe__: SeStep\ModularLeanMapper\MapperModule::create('SeStep\LeanExecutives')
                    th__: CP\TreasureHunt\Model\TreasureHuntMapperModule()
    transactionManager: App\LeanMapper\TransactionManager

    app.userRepository: App\Model\Repository\UserRepository

extensions:
    leanMapper: App\LeanMapper\LeanMapperExtension
    translation: Contributte\Translation\DI\TranslationExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    dbCli: DatabaseCli\DatabaseCliExtension
    typeful: SeStep\Typeful\DI\TypefulExtension
    netteTypeful: SeStep\NetteTypeful\DI\NetteTypefulExtension
    repositories: App\LeanMapper\RepositoryExtension
    idsExtension: SeStep\EntityIds\DI\EntityIdsExtension
    appTreasureHunt: CP\TreasureHunt\TreasureHuntExtension
    executives: SeStep\Executives\DI\ExecutivesExtension
    leanExecutives: SeStep\LeanExecutives\DI\LeanExecutivesExtension
    netteExecutives: SeStep\NetteExecutives\NetteExecutivesExtension

leanMapper:
    db:
        host: %db.host%
        user: %db.user%
        password: %db.pass%
        database: %db.database%

translation:
    locales:
        whitelist: [cs]
        default: cs
    dirs:
        - %appDir%/locale
        - %modulesDir%/Executives/locale
        - %modulesDir%/NetteExecutives/locale
        - %modulesDir%/TreasureHunt/locale

repositories:
    idGenerator: idsExtensions.idGenerator

dbCli:
    initCmd:
        files:
            - %appDir%/database/init.sql
            - %modulesDir%/LeanExecutives/database/init.sql
            - %modulesDir%/TreasureHunt/Model/database/init.sql
    wipeCmd:
        schemaName: 'huntley'

idsExtension:
    registerCommands: true

console:
    version: v0.1
    lazy: false

includes:
    - ids.neon
