@import "notebookTheme";

.container-notebook {
  height: 100vh;
  width: 100vw;
  background: url('/img/notebook-background.jpg') no-repeat center;
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.notebook {
  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .page-content {
    flex: 1;

    overflow-y: scroll;
    word-break: break-word;
  }

  .notebook-pagination {
    align-self: stretch;
    justify-self: end;


    display: flex;
    justify-content: space-between;

    a {
      display: block;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.25);
    }
    .nb-page-link {
      display: inline-flex;
      width: 3em;
      justify-content: center;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-radius: 4px;
    }

    .key {
      order: 2;
    }
  }
}

@include notebookTheme('flat');

.challenge {
  display: flex;
  flex-direction: column;

  .navigation {
    display: flex;
    flex-direction: row;

    .task {
      font-size: 1.75em;
      font-weight: bold;
      display: flex;
      flex-direction: column;
    }
  }

  .key {
    margin-bottom: 1em;
  }
}
