.challenge-form-container {
  background: url('/img/notebook-background.jpg') no-repeat center;
  background-size: cover;

  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .notebook {
    margin-bottom: 16px;
  }

  .navigation {
    label {
      font-size: 0.9em;
      color: dimgray;
    }
  }

  .pagination {
    flex-direction: row-reverse;
  }
}

.card-challenge-meta {
  > .card-body {
    display: flex;
    flex-direction: column;

    > :nth-child(2) {
      flex: 1;
    }
  }
}


.pass-matrix {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &:not(:last-child) {
      margin-bottom: 0.75em;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    & ~ span {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 2px lightgray solid;

      font-size: 28px;
      width: 40px;
      height: 40px;
    }

    &:hover ~ span, &:focus ~ span {
      border-width: 4px;
    }

    &:checked ~ span {
      background-color: greenyellow;
      border-color: transparent;
    }

    &:checked:hover ~ span, &:checked:focus ~ span {
      background-color: initial;
      border-color: greenyellow;
    }

  }

  label {
    display: block;
    cursor: pointer;
    margin-bottom: initial;
  }

}

.on-submit-actions-form {
  display: flex;
  flex-direction: column;

  .form-group.params-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  textarea.executives-config {
    flex: 1;
    resize: none;
  }
}

.executives-hint-header {
  padding: 0;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popover-large {
  max-width: initial;
  width: 420px;
}

.intro-text {
  p:last-child {
    margin-bottom: initial;
  }

  .highlight {
    font-weight: bold;
    background: lightgray;
    padding: 0 0.25em;
    border-radius: 6px;
  }
}
