<div class="challenge">
    <div class="navigation">
        <div class="previous-task"></div>
        <div class="task">
            <span class="challenge-sequence">First challenge</span>
            <span class="challenge-name">{$challenge->title}</span>
        </div>
        <div class="next-task"></div>
    </div>

    <div class="instructions">
        {$challenge->description|noescape}
    </div>

    <div class="key">
        {control key}
    </div>
</div>
