<div class="index">
    <h1>Deník dobrodruha</h1>
    <ul>
        <li n:foreach="$indexPairs as $pair">
            {$pair[0]->pageNumber} ...
            <a href="{plink page $pair[0]->pageNumber}">{$pair[1]}</a>
        </li>
    </ul>
</div>
