<div class="index">
    Sexy deník
    <ul>
        <li n:foreach="$indexEntries as $indexEntry">
            {dump $indexEntry}
            <a href="{plink page $indexEntry->pageNumber}">
                <span>{$indexEntry|pageTitle}</span>...<span>{$indexEntry->pageNumber}</span>
            </a>
        </li>

    </ul>
</div>
