<div n:class="notebook, $pageNumber % 2 === 0? 'page-left' : 'page-right'" id="{$control->getName()}">
    <div class="page-content">
        {control page-$pageNumber}
    </div>
    {control pagination, $pageNumber}
</div>
