narrativeNotFound: Prupovídka nenalezena

map.id: Kód mapy
map.name: Jméno mapy
map.filename: Obrázek


management:
    dashboard: Správa honu za pokladem

type:
    clueType: Typ nápovědy

executives:
    action:
        activateChallenge: Aktivovat výzvu
        revealClue: Odhalit nápovědu
