narrativeNotFound: Prupovídka nenalezena

notebook:
    flipPage: Otočit stránku

challenge.createNew: Vytvořit novou výzvu
challenge.onSubmitActionsList: Akce po odeslání odpovědi
challenge.correctAnswer: Správná odpověď
challenge:
    code: Kód
    title: Název
    description: Výzva
    keyType: Typ klíče
    onSubmitActions: Akce po odpovědi

noKey: Bez klíče


narrative.title: Název průpovídky
narrative.content: Text průpovídky
narrative.followingChallenge: Následující výzva
narrative.createNew: Vytvořit novou prupovídku

treasureMap:
    id: Kód mapy
    name: Jméno mapy
    filename: Obrázek mapy
    tilingX: Sloupců
    tiningY: Řádků

treasureMap.createNew: Vytvořit novou mapu

treasureMap.notFound: Mapa nebyla nalezena

firstChallenge: První výzva

challenge.password: Heslo
challenge.answer: Odpověď

tryAnswer: Zkusit heslo
continue: Pokračovat
inputBanActive: Stále jsem na cestě zpět. Znovu můžu zkoušet %remainingTime%.

management:
    dashboard: Správa honu za pokladem

type:
    clueType: Typ nápovědy

pictureSelection_bottles: Lahvičky
pictureSelection_mount: Jazyk-Symboly

executives:
    action:
        activateChallenge: Aktivovat výzvu
        revealClue: Odhalit nápovědu
        banAnswerSubmission: Zablokovat hádání
    condition:
        answerEquals: Odpověď je rovna
        answerCorrect: Správná odpověď
