narrativeNotFound: Prupovídka nenalezena

type:
    binaryMatrix: Binární matice
    clueType: Typ nápovědy

executives:
    action:
        activateChallenge: Aktivovat výzvu
        revealClue: Odhalit nápovědu
