challenge:
    title: Název
    description: Výzva
    keyType: Typ klíče
    onSubmitActions: Akce po odpovědi

executives:
    action:
        activateChallenge: 'Aktivovat výzvu'
        revealNarrative: 'Odhalid průpravu'
    condition:
        answerEquals: 'Odpověď je'
