{block content}
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a n:href="Challenges:index">Výzvy</a></li>
    <li class="list-group-item"><a n:href="Narratives:index">Prupovídky</a></li>
    <li class="list-group-item"><a n:href="TreasureMaps:index">Mapy</a></li>
</ul>
