<div class="challenge">
    <div class="navigation">
        <div class="task">
            <span class="challenge-name">{$challenge->title}</span>
        </div>
    </div>

    <div class="instructions">
        {$challenge->description|noescape}
    </div>
</div>
