<div n:class="'notebook', 'page-left'" id="{$control->getName()}">
    <div class="page-content">
        {control $pageComponent}
    </div>
    <div class="pagination">
        <a href="{plink index}">Zpět</a>
    </div>
</div>
