services:
    # Repositories
    challengeViewRepository: CP\TreasureHuntGallery\Model\Repository\ChallengeViewRepository

    # Services
    galleryService: CP\TreasureHuntGallery\Model\Services\GalleryService

    # Executives
    executivesModule:
        class: CP\TreasureHuntGallery\Executives\GalleryExecutivesModule
        tags:
            executivesModule: thg

