<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huntley's treasure | The meatening</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/huntley.css">
</head>
<body>

<div class="container-notebook">
    {control notebook $pageNumber}
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/vendor/naja/Naja.js"></script>
<script src="/dist/js/main.js"></script>
</body>
</html>
