<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huntley's treasure | The meatening</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/dist/css/huntley.css">
</head>
<body>
<div class="container-notebook">
    {control notebook $pageNumber}
</div>

</body>
</html>
