{block content}

<pre>~~Šablona: /Modules/TreasureHunt/templates/TreasureHunt/intro.latte~~</pre>

<p>Vítejte ve hře o poklad.</p>


{* introForm:  \Modules\TreasureHunt\Presenters\TreasureHuntPresenter.php *}
{control introForm}
{/block}


