{block content}

<h1>Vítejte ve hře o poklad.</h1>
<p>Formulářem níže se zaregistrujte nebo přihlašte.</p>
<p>Jako heslo vyberte libovolnou kombinaci symbolů. :)</p>


{* introForm:  \Modules\TreasureHunt\Presenters\TreasureHuntPresenter.php *}
{control introForm}
{/block}

