{block content}

{foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<h1>Vítejte ve hře o poklad.</h1>

<p>Formulářem níže se zaregistrujte nebo přihlašte.</p>
<p>Jako heslo vyberte libovolnou kombinaci symbolů. :)</p>


{* introForm:  \Modules\TreasureHunt\Presenters\TreasureHuntPresenter.php *}
{control introForm}

<pre>~~Šablona: /Modules/TreasureHunt/templates/TreasureHunt/intro.latte~~</pre>
{/block}


