{block content}

<div class="card">
    <div class="card-header">
        <h1>Lovec '{$hunter->nick}'</h1>
    </div>
    <div class="card-body">
        <h2>Stránky deníku</h2>
        {control playerChallengesGrid}
    </div>
</div>
